<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Gastronaut</title>
</head>
<body>
    <main id="home-page">
        <div class="valign-wrapper">
            <h1 class="white-text" id="welcome-text">Welcome to Gastronaut</h1>
        </div>
        <div class="center-align">
            <a href="/destinations"><p id="enter-link">Enter</p></a>            
        </div>
    </main>
        <div class="crossfade">
            <figure></figure>
            <figure></figure>
            <figure></figure>
            <figure></figure>
            <figure></figure>
          </div>    
    <footer class="white-text" id="home-page-footer">All Rights Reserved &copy 2021</footer>
</body>
</html>