@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&family=Lobster&display=swap');

* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans';
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(253, 246, 246);
  min-height: 100vh;
}

main {
  flex-grow: 1;
  font-size: 0.9rem;
}

footer {
display: flex;
height: 5vh;
font-size: 0.8rem;
}

nav {
  grid-area: nav;
  background-color: #bb5e72;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  width: 100%;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}


nav > #title {
  margin-right: auto;
  font-family: "Lobster";
  font-size: 60px;
  letter-spacing: 0.02ch;
  color: white;
}

h1 {
  margin: 40px;
  text-align: center;
}

table thead th {
  padding: 5px 40px;
  border-bottom: 1px solid black;
}

table td {
  padding: 10px;
  text-align: center;
}


button {
  margin: 10px;  
}

.nav {
  font-size: 1.3rem;
  font-weight: bolder;
  color: white;
}

a:hover {
  background-color: #a14055;
  color: lightgray;
}

.previous {
  color: rgb(157, 2, 2);
}

.row {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 15rem));
  text-align: right;
}

.column {
  margin: 10px;
}

.column-right {  
  align-self: center;
  justify-self: baseline;
}

.row-details {
  display: flex;
}

/* .column-image {
  color: red;
} */

.column-details {
  margin-left: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

#destinations-table {
  font-size: 1em;
}

#destinations-table > thead th {
  border-bottom-style: none;
}


#new-flight-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 12rem));
  text-align: right;
}

#submit {
  margin: 30px 130px;
  font-size: 15px;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  grid-column: 1/ span 2;
}

#submit:hover {
  background-color: hsl(189, 32%, 75%);
}

#flight-details {
  margin: 20px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#destination-details, #ticket-details {
  margin: 20px;
  display: flex;
}

#details-btn {
  font-size: 12px;
  padding: 4px;
}

#add-dest-to-flight {
  display: flex;
  justify-content: center;
}

#ticket-table {
  margin: auto;
}

#remove-destination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}