@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&family=Lobster&display=swap');

* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans';
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(253, 246, 246);
  min-height: 100vh;
  font-family: "IBM Plex Sans";
}

main {
  flex-grow: 1;
  font-size: 1rem;
}

footer {
display: flex;
height: 5vh;
font-size: 0.8rem;
}

nav {
  padding: 0 20px 0 30px;
  width: 100%;
}

h1 {
  margin: 40px;
  text-align: center;
  font-size: 2.6rem;
  font-weight: bolder;
}

button {
  margin: 10px;  
}

label {
  font-size: 1rem;
}

.nav {
  font-size: 1.3rem;
  font-weight: bolder;
  color: white;
}

a:hover {
  background-color: #a14055;
  color: lightgray;
}

.previous {
  color: rgb(157, 2, 2);
}

.form-title {
  font-size: 2rem;
}

#row-details {
  display: flex;
}

.column-details {
  margin-left: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

#destinations-table {
  font-size: 1em;
}

#destinations-table > thead th {
  border-bottom-style: none;
}


#new-flight-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 12rem));
  text-align: right;
}

#destination-details, #ticket-details {
  margin: 20px;
  display: flex;
}

#details-btn {
  font-size: 12px;
  padding: 4px;
}

#add-dest-to-flight {
  display: flex;
  justify-content: center;
}

#ticket-table {
  margin: auto;
}

#remove-destination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  font-family: "Lobster";
  letter-spacing: 0.04ch;
  font-size: 2.6rem;
}