@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&family=Lobster&display=swap');

* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans';
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(253, 246, 246);
  min-height: 100vh;
  font-family: "IBM Plex Sans";
}

main {
  flex-grow: 1;
  font-size: 1rem;
}

footer {
display: flex;
height: 5vh;
font-size: 0.8rem;
}

nav {
  padding: 0 20px 0 30px;
  width: 100%;
}

h1 {
  margin: 40px;
  text-align: center;
  font-size: 2.6rem;
  font-weight: bolder;
}

button {
  margin: 10px;  
}

label {
  font-size: 1rem;
}

.nav {
  font-size: 1.3rem;
  font-weight: bolder;
  color: white;
}

a:hover {
  background-color: #a14055;
  color: lightgray;
}

.previous {
  color: rgb(157, 2, 2);
}

.form-title {
  font-size: 2rem;
}

#row-details {
  display: flex;
}

.column-details {
  margin-left: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

#remove-destination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  font-family: "Lobster";
  letter-spacing: 0.04ch;
  font-size: 2.6rem;
}

/* -------------- MODAL CSS BELOW -------------- */
        /* The Modal (background) */
        .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          max-height: 100%;
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        
        /* Modal Content */
        .modal-content {
          background-color: #fefefe;
          margin: auto;
          padding: 20px;
          border: 1px solid #888;
          width: 50%;
        }
        
        /* The Close Button */
        .close {
          color: #aaaaaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
